<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366130504389-ssd1nths6dbs7pecivv1ltdsipf8thdu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366130504389-ssd1nths6dbs7pecivv1ltdsipf8thdu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>366130504389-dcffsg7jip6i3hrd982ookkfjr20rub7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC36W4XU_YxLCoZlkk4WzGAI1MRZuhv2Cg</string>
	<key>GCM_SENDER_ID</key>
	<string>366130504389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shestel.app</string>
    <key>GADApplicationIdentifier</key>
    <string>ca-app-pub-7523426678948885~1009780058</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-shestel</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-shestel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366130504389:ios:0fabba63d6c547b13d86ac</string>
</dict>
</plist>
